/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2017, 12:08:57 PM
    Author     : kennypc
*/

@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,500,600,700&subset=latin,latin-ext);
@import "vendor/bootstrap/css/bootstrap.min.css";
@import "css/blog-home.css";
@import "font-awesome/css/font-awesome.min.css";
#short
{
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
